# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.mo
*.sqlite3
db.sqlite3
/staticfiles/
/media/

# Environments
.env
venv/
.env.*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
